# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
# .env 		# Commenting out since python .env config file has this name
.env.*
!.env.example

# Python venv
env
venv

# Xcode
xcuserdata/
